* {
    padding: 0;
    margin: 0;
}

canvas {
    background: rgb(213, 215, 215);
    display: block;
    margin: 0 auto;
}

#score{
    font-size:40px;
    color: aliceblue;
    font-weight: bold;
    text-align: left;
    position: relative;
    top: 70px;
    left: 450px;
}
body {
    overflow-x: hidden;
  }